<!DOCTYPE html>
<html lang="en">
<body style="background-color:rgb(152, 199, 224);"></body>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Product</title>
</head>
<body>
    <h1 align="center"><a href="/">ATN Store</a></h1>
    <form action="/update" method="POST">
    <table align="center" border="1px" style="background-color:rgb(114, 191, 214);">
        <input type="hidden" name="pid" value="{{model._id}}">
        <tr>
            <td width="100">Product Name</td>
            <td width="100"><input type="text" name="productName" value="{{model.productName}}"></td>
        </tr>   
        <tr>
            <td>Price</td>
            <td><input type="text" name="price" id="" value="{{model.price}}"></td>
        </tr>
        <tr>
            <td>Color</td>
            <td><input type="text" name="color" id="" value="{{model.color}}"></td>
        </tr>
        <tr>
            <td>Stock</td>
            <td><input type="text" name="stock" id="" value="{{model.stock}}"></td>
        </tr>
        <tr>
            <td colspan = 2 align="center"><input type="submit" value="Update"></td>
        </tr>
    </table>
    </form>
</body>
</html>